div{
    background: #6596ED;
    padding: 20px;
    border-radius: 13px;
}
.left{
    float: left;

}
.right{
    float: right;
}

.center{
    margin: 0 auto;
    width: 150px;
    text-align: center;
}
