@import url('https://fonts.googleapis.com/css?family=Vollkorn');
div{
    margin: 0 auto;
    width: 1200px;
}
body{
  font-family: 'Vollkorn';
    margin: 0;
    padding: 0;
}
article h3{
    color: #72aeb4;
}
article img{
    width: 250px;
    border: 1px solid gray;
    float: left;
    margin: 20px 10px 20px 10px;
}
article a{
    color: #72aeb4;
}
