table,td,th,tr{
    border: 1px solid black;
}
.bold{
    font-weight: bold;
    text-align: center;
}
table{
    width: 400px;
}
tfoot{
    text-align: right;
    padding-right: 5px;
}
td{
    padding-left: 5px;
}