@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url(//db.onlinewebfonts.com/c/ae32da51cb4715541b6a9f2a5e3939f0?family=EucrosiaUPC);
body{
    font-family: Roboto,sans-serif;
    background-color: #e2d7aa;
    color:#000000 ;
    font-size: 16px;
    width: 1180px;
    margin: 0 auto;
}
main{
    width: 100%;

}
.img-container img{
    width: 1100px;
    height: 450px;
    display: block;
}
.img-container{
    width: 100%;
    height: 450px;
    margin-top: 65px;
}
h1{
    font-size: 60px;
    text-align: center;
    margin-top: 65px;
    font-family: 'Indie Flower',cursive;
}

nav{
    margin: 30px;
    text-align: center;

}
nav ul li{
    display: inline-block;
    margin: 0 10px;

}
li a{
    font-size: 28px;
    color: #000000;
    text-decoration: none;
}
article{
    width: 350px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    text-align: left;
}

.home{
    color:#0a2d4a ;
    font-weight: bold;
}
article img{
    width: 350px;
    height: 200px;
    margin-bottom: 20px;
    margin: 0;
    padding: 0;
}
p::first-letter {
    font-size: 40px;
    font-family:EucrosiaUPC, sans-serif ;
}
span a{
    background:url(images/bg2.jpg);
    color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}
footer{
    margin: 0px;
    padding: 10px 0 10px 0;
    text-align: center;
}

article p:last-of-type span:first-of-type a::before {
    content: url("images/comment.png");
    position: relative;
    right: 5px;
    top: 7px;

}


article:last-child{
    margin-top: 10px;
}
article p:last-of-type{
 margin-top: 30px;
}
article p{
    line-height: 23px;
    text-align: justify;
}
li:first-of-type a, li:last-of-type a {
    color: #0a2d4a;
    font-weight: bold;
}